<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wakatech.invatarejuridica">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/baseline_face_black_18dp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/baseline_face_black_18dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainMenu"></activity>
        <activity android:name=".PlayMode" />
        <activity
            android:name=".Stiatica"
            android:label="@string/title_activity_stiatica"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Setari" />
        <activity android:name=".Lideri" />
        <activity android:name=".Specialist" />
        <activity android:name=".Dictionar" />
        <activity android:name=".ProfileMenu"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUp"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>